{% extends 'base_dashbord.html.twig' %}

{% block title %}Modifier Prime
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6">

			<img src="{{asset('assets/img/newpersonel.png')}}" class="card">

		</div>
		<div class="col-md-6">
			{{ form_start(formeditprime)}}
			<div class="card ">
				<div class="card-header card-header-rose card-header-icon">
					<div class="card-icon">
						<i class="fa fa-user"></i>
					</div>
					<h4 class="card-title">Modifier Prime</h4>
				</div>
				<div class="card-body ">
					<div class="form-group bmd-form-group">
						<label for="Name" class="bmd-label-floating">
							Prime *</label>
						{{ form_row(formeditprime.prime, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
                    <div class="form-group bmd-form-group">
						<label for="text" class="bmd-label-floating">
							 Description *</label>
						{{ form_row(formeditprime.description, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="date" class="bmd-label-floating">
							Date Ajout *</label><br>
						{{ form_row(formeditprime.dateAjout, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="category form-category">* Obligatoire</div>
				</div>
				<div class="card-footer text-right">
					<div class="form-check mr-auto"></div>
					<button type="submit" class="btn btn-rose">
						<i class="fa fa-gear"></i>
						Modifier</button>
				</div>
			</div>
			{{ form_end(formeditprime)}}
		</div>


	</div>
{% endblock %}
