<div class="sidebar-wrapper">
    <div class="user">
        <div class="photo">
        <img src="{{ asset ('/uploads/images/' ~  app.user.image) }}" />
        </div>
        <div class="user-info">
        <a data-toggle="collapse" href="#collapseExample" class="username">
            <span>
            {{ app.user.username }}
            <b class="caret"></b>
            </span>
        </a>
        <div class="collapse" id="collapseExample">
            <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span class="sidebar-mini"> L </span>
                <span class="sidebar-normal"> Logout </span>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item active ">
         {% if (is_granted('ROLE_RESPONSABLE_RH') or is_granted('ROLE_ADMIN') ) %}
            <a class="nav-link" href="{{path('gestion_session_recrutement')}}">
                <i class="material-icons">dashboard</i>
                <p> Dashboard </p>
            </a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_ADMIN')  or is_granted('ROLE_ADMIN') %}
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_gestionuser')}}">
            <i class="fa fa-user"></i>
            <p> Gestion Users </p>
        </a>
        </li>
        {% endif %}
         {% if is_granted('ROLE_RESPONSABLE_LOGISTIQUE') or is_granted('ROLE_ADMIN') %}
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_gestionchauffeur')}}">
            <i class="fa fa-truck"></i>
            <p> Gestion Chauffeurs </p>
        </a>
        </li>
        
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_gestionvoyages')}}">
            <i class="fa fa-plane"></i>
            <p> Gestion Voyages </p>
        </a>
        </li>
        {% endif %}
         {% if is_granted('ROLE_RESPONSABLE_STOCK') or is_granted('ROLE_ADMIN') %}
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_gestionequipements')}}">
            <i class="fa fa-dropbox"></i>
            <p> Gestion Equipements </p>
        </a>
        </li>
        {% endif %}
         {% if is_granted('ROLE_RESPONSABLE_RH') or is_granted('ROLE_ADMIN')%}
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_gestiondepartements')}}">
            <i class="fa fa-building"></i>
            <p> Gestion Departement </p>
        </a>
        </li>
       
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_gestionprimes')}}">
            <i class="fa fa-gift"></i>
            <p> Gestion Primes </p>
        </a>
        </li>
        
        <li class="nav-item ">
        <a class="nav-link" href="{{path('app_gestionemployees')}}">
            <i class="fa fa-users"></i>
            <p> Gestion Employees </p>
        </a>
        </li>
        {% endif %}
    </ul>
    </div>