{% extends 'base_dashbord.html.twig' %}

{% block title %}Ajouter Employee
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6">

			<img src="{{asset('assets/img/newpersonel.png')}}" class="card">

		</div>
		<div class="col-md-6">
			{{ form_start(formajoutemployee,{'action':'/Employers/ajouteremployee'})}}
			<div class="card ">
				<div class="card-header card-header-rose card-header-icon">
					<div class="card-icon">
						<i class="fa fa-employee"></i>
					</div>
					<h4 class="card-title">Ajouter Employee</h4>
				</div>
				<div class="card-body ">
					<div class="form-group bmd-form-group">
						<label for="Name" class="bmd-label-floating">
							Nom *</label>
						{{ form_row(formajoutemployee.nom, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="LastName" class="bmd-label-floating">
							Prenom *</label>
						{{ form_row(formajoutemployee.prenom, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="exampleEmail" class="bmd-label-floating">
							Address Email*</label>
						{{ form_row(formajoutemployee.email, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="examplePassword1" class="bmd-label-floating">
							Telephone *</label>
						{{ form_row(formajoutemployee.tel, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="examplePassword" class="bmd-label-floating">
							Salaire *</label>
						{{ form_row(formajoutemployee.salaire, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="exampleEmail" class="bmd-label-floating">
							Address *</label>
						{{ form_row(formajoutemployee.adresse, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="col-lg-5 col-md-6 col-sm-3">
						{{ form_row(formajoutemployee.dateNais, {'attr' : {'placeholder':'Choisire Role','class':'selectpicker ','data-style':'select-with-transition' ,'multiple':'', 'title':'Choose City', 'data-size':'7', 'tabindex':'-98'}}) }}
					</div>

					<div class="form-group bmd-form-group"></div>
					<label for="image" class="bmd-label-floating">
						Image *</label>
					<div class="fileinput fileinput-new text-center" data-provides="fileinput">
						<div class="fileinput-new thumbnail">
							<img src="../../assets/img/image_placeholder.jpg" alt="image">
						</div>
						<div class="fileinput-preview fileinput-exists thumbnail"></div>
						<div>
							<span class="btn btn-rose btn-round btn-file">
								{{ form_row(formajoutemployee.Image, {'attr' : {'required':'true','name':'image'}}) }}
							</span>
						</div>
					</div>

					<div class="fileinput fileinput-new text-center float-right" data-provides="fileinput">
						<div class="fileinput-new thumbnail">
							<img src="../../assets/img/image_placeholder.jpg" alt="cv">
						</div>
						<div class="fileinput-preview fileinput-exists thumbnail"></div>
						<div>
							<label for="image" class="bmd-label-floating">CV *</label>
							<span class="btn btn-rose btn-round btn-file">
								{{ form_row(formajoutemployee.cv, {'attr' : {'required':'true','name':'cv'}}) }}
							</span>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-3">
						<select name="SelectUser" id="SelectUser">
						{% for U in UsersList %}
							<option value='{{U.id}}'>{{U.nom}} {{U.prenom}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-3">
						<select name="SelectDepartement" id="SelectDepartement">
						{% for D in DepartementsList %}
							<option value='{{D.id}}'>{{D.Libelle}}</option>
						{% endfor %}
						</select>
					</div>

					<div class="category form-category">* Obligatoire</div>
				</div>
				<div class="card-footer text-right">
					<div class="form-check mr-auto"></div>
					<button type="submit" class="btn btn-rose">
						<i class="fa fa-plus"></i>
						Ajouter</button>
				</div>
			</div>
			{{ form_end(formajoutemployee)}}
		</div>


	</div>
{% endblock %}
