{% extends 'base_dashbord.html.twig' %}

{% block title %}Gestion Employes
{% endblock %}

{% block body %}
{#}
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-warning card-header-icon">
					<div class="card-icon">
						<i class="material-icons">weekend</i>
					</div>
					<p class="card-category">Admin</p>
					<h3 class="card-title">184</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons text-danger">warning</i>
						<a href="#pablo">Get More Space...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-rose card-header-icon">
					<div class="card-icon">
						<i class="material-icons">equalizer</i>
					</div>
					<p class="card-category">Responsable Logistique</p>
					<h3 class="card-title">75.521</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">local_offer</i>
						Tracked from Google Analytics
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-success card-header-icon">
					<div class="card-icon">
						<i class="material-icons">store</i>
					</div>
					<p class="card-category">Responsable Resource Humain</p>
					<h3 class="card-title">$34,245</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">date_range</i>
						Last 24 Hours
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<div class="card card-stats">
				<div class="card-header card-header-info card-header-icon">
					<div class="card-icon">
						<i class="fa fa-twitter"></i>
					</div>
					<p class="card-category">Responsable Stock</p>
					<h3 class="card-title">+245</h3>
				</div>
				<div class="card-footer">
					<div class="stats">
						<i class="material-icons">update</i>
						Just Updated
					</div>
				</div>
			</div>
		</div>
	</div>
	{#}
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header card-header-primary card-header-icon">
					<div class="card-icon">
						<i class="material-icons">assignment</i>
					</div>
					
				</div>
				<div class="card-header card-header-primary card-header-icon">
					<a href="{{path('AjouterEmployer')}}" style="color:white;">
						<div class="card-icon" style="float:right;cursor:pointer;">
							<i class="fa fa-plus"></i>
							<i class="fa fa-users"></i>
						</div>
						<h4 class="card-title"></h4>
					</a>
				</div>
				<div class="card-body">
					<div
						class="toolbar"><!--        Here you can write extra buttons/actions for the toolbar              -->
					</div>
					<div class="material-datatables">
						<table id="datatableEmployer" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
							<thead>
								<tr>
									<th>nom</th>
									<th>prenom</th>
									<th>dateNais</th>
									<th>Image</th>
									<th>tel</th>
									<th>email</th>
									<th>adresse</th>
									<th>salaire</th>
									<th>cv</th>
									<th>User</th>
									<th>department</th>
									<th>primes</th>
									<th class="disabled-sorting text-right">Actions</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>nom</th>
									<th>prenom</th>
									<th>dateNais</th>
									<th>Image</th>
									<th>tel</th>
									<th>email</th>
									<th>adresse</th>
									<th>salaire</th>
									<th>cv</th>
									<th>User</th>
									<th>department</th>
									<th>primes</th>
									<th class="disabled-sorting text-right">Actions</th>
								</tr>
							</tfoot>
							<tbody>
								{% for E in EmployersList | sort((a, b) => a.id <=> b.id)%}

									<tr>
										<td>{{E.nom}}</td>
										<td>{{E.prenom}}</td>
										<td>{{E.dateNais | date('d-m-y')}}</td>
										<td>
											<div class="fileinput fileinput-new text-center" data-provides="fileinput" style="max-width: 50%;">
												<div class="fileinput-new thumbnail img-circle">
													<img src="{{ asset ('/uploads/images/employees/' ~ E.image ) }}" alt="...">
												</div>
												<div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
											</div>
										</td>
										<td>{{E.tel}}</td>
										<td>{{E.email}}</td>
										<td>{{E.adresse}}</td>
										<td>{{E.salaire}}</td>
										<td>

											<button class="btn btn-success ">
												<a class="text-white" href="{{ asset ('/uploads/cvs/employees/' ~ E.cv ) }}" download="{{E.cv}}">Download</a>
											</button>

										</td>
										<td>{{E.User.nom}}</td>
										<td>{{E.department.libelle}}</td>
										<td>problem</td>
										<td class="text-right">
											<a href="Employers/modifieremployee/{{E.id}}" class="btn btn-link btn-info btn-just-icon like">
												<i class="material-icons">edit</i>
											</a>
											<a href="Employers/delete/{{E.id}}" class="btn btn-link btn-danger btn-just-icon remove">
												<i class="material-icons">delete</i>
											</a>
										</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
				<!-- end content-->
			</div>
			<!--  end card  -->
		</div>
	{% endblock %}


