{% extends 'base_dashbord.html.twig' %}

{% block title %}Modifier Utilisateur
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6">

			<img src="{{asset('assets/img/edit.jpg')}}" class="card">

		</div>
		<div class="col-md-6">
			{{ form_start(formedituser)}}
			<div class="card ">
				<div class="card-header card-header-rose card-header-icon">
					<div class="card-icon">
						<i class="fa fa-user"></i>
					</div>
					<h4 class="card-title">Modifier Utilisateur</h4>
				</div>
				<div class="card-body ">
					<div class="form-group bmd-form-group">
						<label for="Name" class="bmd-label-floating">
							Nom *</label>
						{{ form_row(formedituser.nom, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="LastName" class="bmd-label-floating">
							Prenom *</label>
						{{ form_row(formedituser.prenom, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="exampleEmail" class="bmd-label-floating">
							Address Email*</label>
						{{ form_row(formedituser.email, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="examplePassword1" class="bmd-label-floating">
							Telephone *</label>
						{{ form_row(formedituser.tel, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="examplePassword" class="bmd-label-floating">
							Mot de pass *</label>
						{{ form_row(formedituser.password, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
					<div class="form-group bmd-form-group">
						<label for="examplePassword1" class="bmd-label-floating">
							Confirmer Mot de pass *</label>
						<input type="password" class="form-control" id="examplePassword1" required="true" equalto="#examplePassword" name="password_confirmation" aria-required="true">
					</div>
					<div class="form-group bmd-form-group">
						<label for="exampleEmail" class="bmd-label-floating">
							Address *</label>
						{{ form_row(formedituser.adresse, {'attr' : {'class':'form-control','required':'true'}}) }}
					</div>
          <div class="col-lg-5 col-md-6 col-sm-3">
            {{ form_row(formedituser.roles, {'attr' : {'placeholder':'Choisire Role','class':'selectpicker ','data-style':'select-with-transition' ,'multiple':'', 'title':'Choose City', 'data-size':'7', 'tabindex':'-98'}}) }}
                          </div>
        
					<div class="form-group bmd-form-group"></div>
                      <label for="image" class="bmd-label-floating">
							Image *</label>
					<div class="fileinput fileinput-new text-center" data-provides="fileinput">
						<div class="fileinput-new thumbnail">
							<img src="../../assets/img/image_placeholder.jpg" alt="image">
						</div>
						<div class="fileinput-preview fileinput-exists thumbnail"></div>
						<div>
							<span class="btn btn-rose btn-round btn-file">
								{{ form_row(formedituser.image, {'attr' : {'required':'true','name':'image'}}) }}
							</span>
						</div>
					</div>
          
					<div class="fileinput fileinput-new text-center float-right" data-provides="fileinput">
						<div class="fileinput-new thumbnail">
							<img src="../../assets/img/image_placeholder.jpg" alt="cv">
						</div>
						<div class="fileinput-preview fileinput-exists thumbnail"></div>
						<div><label for="image" class="bmd-label-floating">CV *</label>
							<span class="btn btn-rose btn-round btn-file">
								{{ form_row(formedituser.cvFile, {'attr' : {'required':'true','name':'cv'}}) }}
							</span>
						</div>
					</div>
					<div class="category form-category">* Obligatoire</div>
				</div>
                <div class="row">
                <div class="card-footer text-right">
					<div class="form-check mr-auto"></div><a href="{{path('app_gestionuser')}}">
					<button type="button" class="btn btn-rose">
						<i class="fa fa-backward"></i>
						Retourner</button></a>
				</div>
				<div class="card-footer text-right float-right">
					<div class="form-check mr-auto"></div>
					<button type="submit" class="btn btn-rose">
						<i class="fa fa-edit"></i>
						Modifier</button>
				</div>
                </div>
			</div>
			{{ form_end(formedituser)}}
		</div>


	</div>
{% endblock %}
